<h3>Produkty</h3>
<div>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th> Id </th>
        <th> Nazwa produktu </th>
        <th> Opis</th>
        <th> Cena </th>
        <th> Stan magazynowy</th>
        <th> Kolor </th>
        <th> Dodaj do koszyka </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products$" >
        <th> {{product.id}}</th>
        <th> {{product.productType}} </th>
        <th> {{product.description}}</th>
        <th> {{product.price}} </th>
        <th> {{product.stockQuantity}} </th>
        <th> {{product.color}} </th>
        <th (click)="addProductToOrder(product)"><p class="clickable-item">Dodaj</p></th>
      </tr>
    </tbody>
  </table>
</div>

<h3>Wybrane produkty:</h3>
<div >
  <table class="table-container table table-striped table-bordered">
    <thead>
      <tr>
        <th>Id</th>
        <th>Typ produktu</th>
        <th>Wpisz ilość</th>
        <th>Usuń produkt</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let selectedProduct of selectedProducts">
        <th>{{selectedProduct.id}}</th>
        <th>{{selectedProduct.productType}}</th>
        <td><input type="number" [(ngModel)]="quantity"></td> 
        <!--<th (click)="deleteProductToOrder(selectedProduct.id)"><p class="clickable-item">Usuń</p></th>-->
      </tr>
    </tbody>
  </table>
</div>

