<div class="container mt-5">
  <div class="row">
    <!-- Dane klienta -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Dane klienta:
        </div>
        <div class="card-body" *ngIf="customer">
          <p class="card-text">Imię: {{customer.firstName}}</p>
          <p class="card-text">Nazwisko: {{customer.lastName}}</p>
          <p class="card-text">Numer podatkowy: {{customer.taxNumber}}</p>
          <p class="card-text">Telefon: {{customer.phoneNumber}}</p>
          <p class="card-text">Email: {{customer.email}}</p>
        </div>
      </div>
    </div>
    <!-- Adres -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          Adres:
        </div>
        <div class="card-body">
          <p>Ulica: {{address?.street}}</p>
          <ng-container *ngIf="address?.buildingNumber == null &&  address?.apartmentNumber == null then noAddress else hasAddress"></ng-container>
          <ng-template #hasAddress>
            <ng-container *ngIf="address?.buildingNumber == null then apartmentNumber else buildingNumber"></ng-container>
            <ng-template #apartmentNumber>Numer mieszkania: {{address?.apartmentNumber }}</ng-template>
            <ng-template #buildingNumber>Numer domu: {{address?.buildingNumber}}</ng-template>
          </ng-template>

          <ng-template  #noAddress>
            <p>Numer mieszkania: brak</p>
          </ng-template>
          <p>Postal code: {{address?.postalCode}}</p>
          <p>Postal code: {{address?.city}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
