.main-container {
    display: flex;
    justify-content: center;
}

.div {
    margin: 2%;
    padding: 2%;
    border: 2px solid;
}

//global

h3 {
  font-size: 20px;
  color: #333;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  font-family: serif;
}

//navbar
.navbar-custom {
    background-color: #b2cee9 !important; /* Jasne tło */
    box-shadow: 0 2px 4px rgba(30, 56, 65, 0.4); /* Delikatny cień */
    border-radius: 10px;
    margin-bottom: 25px;
  }

  .navbar-custom .navbar-nav .nav-link {
    color: #504747 !important; /* Ciemniejszy kolor tekstu dla lepszej czytelności */
  }

  .navbar-custom .navbar-nav .nav-link:hover {
    color: #5f99d7 !important; // Kolor tekstu po najechaniu
  }

  .navbar-custom .navbar-toggler {
    background-color: #007bff !important; // Kolor tła przełącznika na urządzeniach mobilnych 
  }

  //dashboard

  /* dashboard.component.css */
.dashboard {
  font-family: 'Arial', sans-serif;
  color: #333;
  margin: 20px;
}

.header h1 {
  color: #0d6efd;
  text-align: center;
}

.panels {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.panel {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 5px;
  padding: 20px;
  width: 30%;
}

.panel h2 {
  color: #495057;
}

.footer {
  text-align: center;
  margin-top: 20px;
  font-size: 0.8em;
  color: #6c757d;
}

//others
.clickable-item {
  color: rgb(12, 12, 75); /* lub inny kolor, który preferujesz */
  cursor: pointer;
  font-style: normal;
  font-size: 20px;
  text-align: center;
  margin: 5px;
  border: 2px solid rgb(88, 70, 70); 
  border-radius: 3px;
  box-shadow: 0 3px 5px rgba(17, 159, 206, 0.4);
}

//
.table-container{
  width: 50% !important;
}

//purchase
.purchase {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center; 
}

.purchase > div {
  flex: 1 1 24%; /* Dzieci zajmą co najmniej 30% szerokości kontenera, ale mogą się rozszerzać */
  min-width: 300px; /* Zapewnia, że dzieci nie będą mniejsze niż 300px */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Opcjonalnie, dodaje delikatny cień dla lepszego wyróżnienia */
  padding: 10px; /* Dodaje wewnętrzną przestrzeń dookoła zawartości każdego diva */
  border-radius: 8px; /* Zaokrąglenie rogów dla estetyki */
  background-color: #fff; /* Ustawia białe tło dla każdego diva */
}

.table-container {
  overflow-x: auto; /* Zapewnia przewijanie dla tabel, jeśli są zbyt szerokie */
}

.form-group {
  margin-bottom: 15px; /* Dodaje odstęp na dole każdej grupy formularza */
}

.form-control {
  width: 100%; /* Zapewnia, że elementy formularza zajmują pełną szerokość swojego kontenera */
  padding: 8px; /* Dodaje wewnętrzną przestrzeń */
  border: 1px solid #ccc; /* Dodaje obramówkę */
  border-radius: 4px; /* Zaokrągla rogi */
}

.additional-info {
  flex: 1; /* Umożliwia elementowi wypełnianie dostępnej przestrzeni, ale z ograniczeniami poniżej */
  max-width: 32%; /* Ogranicza maksymalną szerokość do 600px */
  margin-right: auto; /* Odstęp tylko po prawej stronie, co spowoduje, że element przylegnie do lewej krawędzi */
}
.choosen-prodcuts {
  max-width: 52; /* Ogranicza maksymalną szerokość do 600px */
  margin-right: auto; /* Odstęp tylko po prawej stronie, co spowoduje, że element przylegnie do lewej krawędzi */
}