<h2 style="text-align: center;">Informacje o kliencie</h2>

<div class="main-container">
    <div class="div">
       <h3>Klient:</h3>
       <p>Imie: {{customer?.firstName}}</p>
       <p>Nazwisko: {{customer?.lastName}}</p>
       <p>Numer indentyfikacji podatkowej: {{customer?.taxNumber}}</p>
       <p>Numer telefonu: {{customer?.phoneNumber}}</p>
       <p>Email: {{customer?.email}}</p>
    </div>
<!--
    <div class="div">
        <h3>Adres klienta:</h3>
        <p>Ulica: {{customer.address.street}}</p>
        
        <ng-container *ngIf="customer.address.buildingNumber == null &&  customer.address.apartmentNumber == null then noAddress else address"></ng-container>  
        <ng-template #address>
            <ng-container *ngIf="customer.address.buildingNumber == null then apartmentNumber else buildingNumber"></ng-container>
            <ng-template #apartmentNumber>Numer mieszkania: {{customer.address.apartmentNumber }}</ng-template>
            <ng-template #buildingNumber>Numer domu: {{customer.address.buildingNumber}}</ng-template>
        </ng-template>

        <ng-template  #noAddress>
            <p>Numer mieszkania: brak</p>
        </ng-template>

        <p>Postal code: {{customer.address.postalCode}}</p>
        <p>Postal code: {{customer.address.city}}</p>
    </div>

    <div class="div">
        <h3>Ostatnie zamówienie</h3>
        <p>Data zamówienia: {{lastOrder.orderDate | date}}</p>
        <p>Data zakończenia: {{lastOrder.completionDate | date}}</p>
        <p>Status zamówienia: {{lastOrder.orderStatus}}</p>
        <p>Notatki: {{lastOrder.notes}}</p>
        <p>Metoda płatności: {{lastOrder.paymentMethod}}</p>
        <p>Płatność końcowa: {{lastOrder.finalAmount}}</p>       
    </div>-->

</div>















<!--

<h3>Przykłady interpolacji</h3>
<p>Imie {{name.toUpperCase()}}</p>
<p>Wiek {{25}}</p>
<p>Jest dorosły {{isAdult}}</p>

<p>----------------</p>
<h3>Przykład property bindingu</h3>
<p [class.changeColour]="isActiv">Dupa</p>
<button [disabled]="isActiv">Kliknij</button>
<div [style.color]="isHighlighted ? 'red' : 'blue'">Kolor</div>
<div [class.changeFont]="changeFont">Tekst Tekst Tekst</div>
<input [value]="name">

<p>----------------</p>
<h3>Przykłady event bindingu</h3>
<button (click)="changeFontMethod()" type="button">Zmień czcionkę</button>
<input type="text" (input)="onInputChange($event)">

<p>---------------</p>
<h3>Dwukierunkowy binding - ngModel</h3>

<input type="text" [(ngModel)]="name">

<p>-----------------</p>
<h3>Dyrektywy *ngIf</h3>

<div type="button">
    <label> <input type="checkbox" [(ngModel)]="isActiv"> Pokaz napis</label>
</div>

<div *ngIf="isActiv; then tekst1 else tekst2"></div>
<ng-template #tekst1>
    <p>Tekst jeden
    <p>
</ng-template>
<ng-template #tekst2>
    <p>Tekst dwa
    <p>
</ng-template>

<div *ngIf="isActiv">
    <p>Tekst trzy</p>
</div>
<p>-----------------</p>
<h3>Dyrektywa ngSwitch</h3>

<ng-container [ngSwitch]="age">
    <ng-container *ngSwitchCase="25">Pierwszy switch</ng-container>
    <ng-container *ngSwitchCase="24">Drugi switch</ng-container>
    <ng-container *ngSwitchDefault>nieznany</ng-container>
</ng-container>

<p>-----------------</p>
<h3>Dyrektywa ngFor</h3>
<ul>
    <li *ngFor="let animal of animals">{{animal}}</li>
    <ul>
        <p>-----------------</p>

        <p>Imie: {{customer.name}}</p>
        <p>Nazwisko: {{customer.surName}}</p>
        <p>Wiek: {{customer.age}}</p>

        <select [(ngModel)]="customer">
            <option *ngFor="let c of customers" [ngValue]="c">wybierz klienta: {{c.name}}</option>
        </select>

        -->